body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.title {
  position: absolute;
  z-index: -1;
}

.body-top {
  width: 66%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.body-top * img {
  height: 50px;
}

.body-top * button {
  background-color: black;
  border-radius: 4px;
  margin-top: 20px;
  border: 2px solid grey;
}

.body-top * a {
  background-color: black;
  border-radius: 4px;
  margin-top: 20px;
  border: 2px solid grey;
  text-align: center;
  padding: 2px;
}

.body-top * button:hover {
  box-shadow: 0px 0px 10px 10px rgb(30, 255, 30);
  transform: scale(1.1);
  cursor: pointer;
}

.body-top * a:hover {
  box-shadow: 0px 0px 10px 10px rgb(30, 255, 30);
  transform: scale(1.1);
  cursor: pointer;
}

.buttons > button {
  margin-right: 20px;
}

#audio-btn {
  padding: 5px;
  height: 50px;
}

#audio-btn > img {
  height: 30px;
}

.links {
  display: flex;
  flex-direction: column;
}

#directions-modal {
  display: none;
  position: absolute;
  width: 70%;
  height: 65%;
}

.directions-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 75%;
  border: 2px solid grey;
  border-radius: 10px;
  background-color: black;
  padding: 70px;
}

.directions-page > h1 {
  font-size: 80px;
  font-family: 'Faster One';
  color: rgb(212, 41, 255);
  margin-bottom: 50px;
}

.directions-page > h2 {
  font-family: 'Audiowide';
  color: rgb(212, 41, 255);
  font-size: 60px;
  margin-bottom: 20px;
}

.directions-page > p {
  font-family: 'Audiowide';
  color: rgb(9, 255, 0);
  line-height: 2;
}

#close-modal {
  font-family: 'Audiowide';
  color: rgb(212, 41, 255);
  font-size: 20px;
  border: 2px solid grey;
  border-radius: 4px;
  background-color: black;
  margin: 30px;
}

#close-modal:hover {
  box-shadow: 0px 0px 10px 10px rgb(30, 255, 30);
  transform: scale(1.1);
  cursor: pointer;
}